{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
       {% if erreurcheck==1 %}
           <div class="alert alert-danger">{{Erreur }}</div>
       {% endif %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    



        <div class="account-pages my-5">
            <div class="container">
                       {% if app.user %}
            <div class="mb-3 d-flex justify-content-center">
                You are logged in as {{ app.user.pseudo }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-6 p-4">
                               

                                        <h6 class="h5 mb-0 mt-3">Gestion de Gallery!</h6>
                                        <p class="text-muted mt-1 mb-4">
                                            Enter votre email et mot de passe pour acceder a votre admin panel.
                                        </p>

                                
                                            <div class="mb-3">
                                                <label class="form-label">Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                      <i class=" icon-dual fas fa-envelope"></i>
                                                    </span>
                                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Password</label>
                                                <a href="pages-recoverpw.html" class="float-end text-muted text-unline-dashed ms-1">Mot de Passe Oublier?</a>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="icon-dual fas fa-lock"></i>
                                                    </span>
                                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                                    <input type="hidden" name="_csrf_token"
                                                           value="{{ csrf_token('authenticate') }}"
                                                    >
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                                </div>
                                            </div>

                                            <div class="mb-3 text-center d-grid">
                                                <button class="btn btn-warning" type="submit">Log In</button>
                                            </div>


                                    </div>
                                    <div class="col-lg-6 d-none d-md-inline-block">
                                        <div class="auth-page-sidebar">
                                            <div class="overlay"></div>
                                          
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">vous n'avez pas un compte? <a href="{{ url('register') }}" class="text-warning fw-bold ms-1">Sign Up</a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

    </form>
{% endblock %}
